---
import { databases } from "../../lib/appwrite";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/navbar.astro";
import Footer from "../../components/footer.astro";

const databaseId = import.meta.env.PUBLIC_DATABASE_ID;
const collectionID = import.meta.env.PUBLIC_COLLECTION_ID;

const { documents: posts } = await databases.listDocuments(
  databaseId,
  collectionID
);
---

<Layout title="Gaxve Music">
  <main style="display: flex; flex-direction: column; min-height: 100vh;">
    <Navbar />
    <ul class={`posts-list ${posts.length >= 3 ? "justify-between" : ""}`}>
      {
        posts.map((post) => {
          return (
            <li class="posts-card dark-mode">
              <img src={post.image} alt="Posts Image" class="posts-image" />
              <div class="posts-content">
                <h2>{post.title}</h2>
                <p class="posts-date">
                  {new Date(post.$createdAt).toLocaleDateString()}
                </p>
                <p class="posts-excerpt">{post.excerpt}</p>
                <a href={`/posts/${post.slug}`} class="read-more-button">
                  Read More
                </a>
              </div>
            </li>
          );
        })
      }
    </ul>
    <Footer style="margin-top: auto;" />
  </main>

  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: "Play", sans-serif;
    }

    .posts-list {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 3rem;
    }

    .posts-card {
      flex: 0 0 calc(33.333% - 20px);
      background-color: #222831;
      border-radius: 8px;
      margin-bottom: 20px;
      margin-top: 20px;
      overflow: hidden;
      padding-bottom: 100px;
    }

    .posts-image {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }

    .posts-content {
      padding: 15px;
      padding-inline: 30px;
    }

    .posts-content h2 {
      margin-top: 0;
      margin-bottom: 10px;
      color: #fff;
      font-size: 24px;
    }

    .posts-date {
      font-size: 16px;
      color: #ccc;
      margin-bottom: 10px;
    }
    .posts-excerpt {
      font-size: 16px;
      color: #fff;
      margin-bottom: 10px;
    }

    .read-more-button {
      background-color: #4169e1;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 10px;
      display: inline-block;
    }

    .read-more-button:hover {
      background-color: #6081e7;
    }

    @media (max-width: 992px) {
      .posts-card {
        flex-basis: calc(50% - 20px);
        padding-bottom: 30px;
      }
    }

    @media (max-width: 768px) {
      .posts-card {
        flex-basis: 100%;
        padding-bottom: 20px;
      }
    }
  </style>

  <script
    src="https://kit.fontawesome.com/37e149e4dc.js"
    crossorigin="anonymous"></script>
</Layout>
