---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Gaxve Music">
  <main style="height: 100vh;">
    <!--Calling Navbar component -->
    <Navbar backgroundColor="transparent" boxShadow="0px 0px 0px " />
  </main>
  <Footer />
</Layout>

<style>
  body {
    background-image: url("/media/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .navbar {
    background-color: transparent;
  }
</style>

<script src="https://kit.fontawesome.com/37e149e4dc.js" crossorigin="anonymous"
></script>
