---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
---

<Layout title="News | Gaxve Music">
  <main>
    <Navbar />
    <div class="content">
      <h1>News</h1>
    </div>
  </main>

  <style></style>
</Layout>
