---
import { databases } from "../../lib/appwrite";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/navbar.astro";
import Footer from "../../components/footer.astro";

const databaseId = import.meta.env.PUBLIC_DATABASE_ID;
const collectionID = import.meta.env.PUBLIC_COLLECTION_ID;

const { documents: news } = await databases.listDocuments(
  databaseId,
  collectionID
);
---

<Layout title="News | Gaxve Music">
  <main>
    <Navbar />
    <ul class={`news-list ${news.length >= 3 ? "justify-between" : ""}`}>
      {
        news.map((post) => {
          return (
            <li class="news-card dark-mode">
              <img src={post.image} alt="News Image" class="news-image" />
              <div class="news-content">
                <h2>{post.title}</h2>
                <p class="news-date">
                  {new Date(post.$createdAt).toLocaleDateString()}
                </p>
                <p class="news-excerpt">{post.excerpt}</p>
                <a href={`/news/${post.slug}`} class="read-more-button">
                  Read More
                </a>
              </div>
            </li>
          );
        })
      }
    </ul>
    <Footer />
  </main>

  <style>
    .news-list {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 3rem;
    }

    .news-card {
      flex: 0 0 calc(33.333% - 20px);
      background-color: #222831;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
      margin-bottom: 20px;
      overflow: hidden;
      padding-bottom: 100px;
    }

    .news-image {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }

    .news-content {
      padding: 15px;
      padding-inline: 30px;
    }

    .news-content h2 {
      margin-top: 0;
      margin-bottom: 10px;
      color: #fff;
    }

    .news-date {
      font-size: 12px;
      color: #888;
      margin-bottom: 10px;
    }

    .news-excerpt {
      font-size: 12px;
      color: #ccc;
      margin-bottom: 10px;
    }

    .read-more-button {
      background-color: #76abae;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 10px;
      display: inline-block;
    }

    .read-more-button:hover {
      background-color: #0056b3;
    }

    @media (max-width: 992px) {
      .news-card {
        flex-basis: calc(50% - 20px);
        padding-bottom: 30px;
      }
    }

    @media (max-width: 768px) {
      .news-card {
        flex-basis: 100%;
        padding-bottom: 20px;
      }
    }
  </style>

  <script
    src="https://kit.fontawesome.com/37e149e4dc.js"
    crossorigin="anonymous"></script>
</Layout>
