<!-- Navbar.astro -->
<nav class="header-navbar">
  <ul class="navbar-links">
    <li><a id="homeLink" href="/">Home</a></li>
    <li><a id="newsLink" href="/news">News</a></li>
    <li><a id="discographyLink" href="/discography">Discography</a></li>
  </ul>
  <ul class="navbar-icons">
    <li>
      <a href="https://www.youtube.com/@gaxve" target="_blank"
        ><i class="fab fa-youtube"></i></a
      >
    </li>
    <li>
      <a href="https://www.instagram.com/gaxvemusic/" target="_blank"
        ><i class="fab fa-instagram"></i></a
      >
    </li>
    <li>
      <a href="https://www.tiktok.com/@gaxvemusic" target="_blank"
        ><i class="fab fa-tiktok"></i></a
      >
    </li>
  </ul>
</nav>

<script>
  const currentPath = window.location.pathname;

  const homeLink = document.getElementById("homeLink") as HTMLAnchorElement;
  const newsLink = document.getElementById("newsLink") as HTMLAnchorElement;
  const discographyLink = document.getElementById(
    "discographyLink"
  ) as HTMLAnchorElement;

  const setActiveLink = (link: HTMLAnchorElement) => {
    if (link.getAttribute("href") === currentPath) {
      link.style.color = "#9d96ff";
    }
  };

  // Set active link based on the current path
  setActiveLink(homeLink);
  setActiveLink(newsLink);
  setActiveLink(discographyLink);
</script>

<style>
  .header-navbar {
    position: sticky;
    top: 0;
    background-color: #161616;
    padding: 2rem;
    padding-inline: 5rem;
    z-index: 2;
    box-shadow: 0px 2px 0px rgba(238, 238, 238, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-links,
  .navbar-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .navbar-links li,
  .navbar-icons li {
    margin: 0 10px;
  }

  .navbar-links li a,
  .navbar-icons li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .navbar-icons {
    margin-inline: 3rem;
  }

  .navbar-links li a:hover,
  .navbar-icons li a:hover {
    color: #776dff;
  }

  /* FontAwesome icons styling */
  .fab {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
  }

  .fab:hover {
    color: #776dff;
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .header-navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-icons {
      margin-top: 1rem;
    }
  }
</style>
