---
import type { Props } from "astro";
const { backgroundColor, boxShadow } = Astro.props as Props;
---

<nav
  class="header-navbar"
  style={`background-color: ${backgroundColor}; box-shadow: ${boxShadow};`}
>
  <a href="/" class="navbar-brand">
    <span class="gaxve">GAXVE</span>
    <span class="music">MUSIC</span>
  </a>
  <ul class="navbar-links">
    <li><a id="homeLink" href="/">Home</a></li>
    <li><a id="newsLink" href="/posts">Posts</a></li>
    <li><a id="discographyLink" href="/discography">Songs</a></li>
    <li><a id="linksLink" href="/links">Links</a></li>
  </ul>

  <script>
    export const props = {
      backgroundColor: "",
      boxShadow: "",
    };
    const currentPath = window.location.pathname;

    const homeLink = document.getElementById("homeLink") as HTMLAnchorElement;
    const newsLink = document.getElementById("newsLink") as HTMLAnchorElement;
    const discographyLink = document.getElementById(
      "discographyLink"
    ) as HTMLAnchorElement;
    const linksLink = document.getElementById("linksLink") as HTMLAnchorElement;

    const setActiveLink = (link: HTMLAnchorElement) => {
      if (link.getAttribute("href") === currentPath) {
        link.style.color = "#4169e1";
      }
    };

    // Set active link based on the current path
    setActiveLink(homeLink);
    setActiveLink(newsLink);
    setActiveLink(discographyLink);
    setActiveLink(linksLink);
  </script>

  <style>
    .header-navbar {
      position: sticky;
      top: 0;
      background-color: #050505;
      padding: 2rem;
      padding-inline: 5rem;
      z-index: 2;
      box-shadow: 0px 2px 0px rgba(238, 238, 238, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-brand {
      font-weight: bold;
      font-size: 1.5rem;
      text-decoration: none;
    }

    .gaxve {
      color: #4169e1;
    }

    .music {
      color: #fff;
    }

    .navbar-links {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }

    .navbar-links li {
      margin: 0 10px;
    }

    .navbar-links li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    .navbar-links li a:hover {
      color: #4169e1;
    }

    @media (max-width: 768px) {
      .header-navbar {
        flex-direction: column;
        align-items: flex-start;
      }

      .navbar-links {
        margin-top: 1rem;
      }
    }
  </style>
</nav>
